alembic==0.9.8
apispec==0.31.0
bcrypt==3.1.4
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
flake8==3.5.0
Flask==0.12.2
flask-apispec==0.5.0
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.3.2
flask-marshmallow==0.8.0
marshmallow==2.15.0
marshmallow-sqlalchemy==0.13.2
Flask-Migrate==2.1.1
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
numpy==1.14.0
pew==1.1.2
pipenv==9.0.3
psycopg2==2.7.3.2
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
PyJWT==1.5.3
python-dateutil==2.6.1
python-editor==1.0.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.5
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
webargs==2.0.0
Werkzeug==0.14.1
